@import 'colors.scss';

.note-table {
  border: 5px solid white;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  margin : 10px;
}

.note-table  td {
  border: 1px solid $primary-table-border-color;
  padding: 8px;
  height: 30px;
}

.note-table  td.title {
  font-size: small;
  padding-bottom: 1px;
  vertical-align: bottom;
  color: $primary-text-color;
  width: 50%;
  border-top: none;
  height: 10px;
  padding-top: 0px;
}

.note-table  td.description {
  padding-top: 1px;
  font-size: large;
  vertical-align: top;
  color: $primary-color;
  font-weight: 800;
  width: 50%;
  border-bottom: none;
}

